1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [61]:
#kerjakan soal no.1 pada sel berikut ini
#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

data_list = ['bandung', 'jakarta', 'semarang', 'palembang']
for list in data_list:
   print(list)

bandung
jakarta
semarang
palembang
4

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik dari list pada sel di bawah

In [29]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True]
for list2 in data_list_2:
  if type(list2) is int:
    print(list2)
  elif type(list2) is float:
    print(list2)

100
15.5

3. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [65]:
#kerjakan soal no.3 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']
for i in data_list_3:
  for j in i:
    if j in ["0",'1',"2","3","4","5","6","7","8","9"]:    
      print(i, "memiliki angka")
    else:
      print(i, "tidak memiliki angka")

asda8asd tidak memiliki angka
asda8asd tidak memiliki angka
asda8asd tidak memiliki angka
asda8asd tidak memiliki angka
asda8asd memiliki angka
asda8asd tidak memiliki angka
asda8asd tidak memiliki angka
asda8asd tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka
washingt0nDC tidak memiliki angka

4. keluarkan masing-masing value pada key "nama" dan "nilai" dari dictionary di dalam list pada sel di bawah. lalu masukkan pada list sehingga satu nama & nilai berada dalam satu list. lalu kumpulkan semua list dalam satu list lainnya.

In [62]:
#kerjakan soal no.4 pada sel berikut ini

data_dict = [
    {
        "nama":"budi",
        "nilai": {
            "matematika" : 90,
            "fisika" : 86,
            "biologi" : 90
        }
    },
    {
        "nama":"Nina",
        "nilai": {
            "matematika" : 87,
            "fisika" : 69,
            "biologi" : 78
        }
    },
    {
        "nama":"Rudi",
        "nilai": {
            "matematika" : 88,
            "fisika" : 67,
            "biologi" : 91
        }
    }
]

#hasil yang diharapkan
#hasil = [["budi",90,86,90],["Nina",87,69,78],["Rudi",88,67,91]]

hasil = []
for i in range(0,len(data_dict)):
  nama = data_dict[i]["nama"]
  nilaiMatematika = data_dict[i]["nilai"]["matematika"]
  nilaifisika = data_dict[i]["nilai"]["fisika"]
  nilaibiologi = data_dict[i]["nilai"]["biologi"]
  output = [nama,nilaiMatematika,nilaifisika,nilaibiologi]
  hasil.append(output)

print(hasil)

[['budi', 90, 86, 90], ['Nina', 87, 69, 78], ['Rudi', 88, 67, 91]]